name: Main

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  quality:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Set up the environment
        uses: ./.github/actions/setup-venv

      - name: Install just
        uses: extractions/setup-just@v3

      - name: Run checks
        run: just check

  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.11", "3.12", "3.13"]
    steps:
      - name: Check out
        uses: actions/checkout@v4
      - name: Set up the environment with multiple python versions
        uses: astral-sh/setup-uv@v6
        with:
          version: "0.8.16"
          enable-cache: true
          cache-dependency-glob: "pyproject.toml"
          python-version: ${{ matrix.python-version }}
      - name: Run test
        run: uv run --group test pytest -n auto

  check-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Set up the environment
        uses: ./.github/actions/setup-venv

      - name: Install just
        uses: extractions/setup-just@v3

      - name: Check if documentation can be built
        run: just docs build
